<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style_detalhes.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="/img/pokebola.png" alt="pokebola" /></li>
        <li>
          <a href="/"><h1>Pokédex</h1></a>
        </li>
        <li><a href="/cadastrar">Cadastrar</a></li>
        <li><a href="/#cards">Pokémons</a></li>
      </ul>
    </nav>

    <main>
      <section id="cards">

        <h2>Pokémon</h2>

        
        <div class="card">
          <h3><%= pokemon.nome%></h3>
          <img src="<%= pokemon.imagem %>" alt="imagem do pokemon" />
          <p class="id">Id: <span id="id"><%= pokemon.id%></span></p>
          <p class="tipo">Tipo: <span id="tipo"><%= pokemon.tipo%></span></p>
          <p class="descricao">Descrição: <span id="descricao"><%= pokemon.descricao%></span></p>
          
        </div>
        
      </section>

    </main>

    <footer>
      <p>Olavo de Souto &copy; - Todos os direitos reservados para</p>
      <p>
        Dados retirados de
        <a target="_blank" href="https://www.pokemon.com/br/pokedex/"
          >Pokédex</a
        >
      </p>
    </footer>

    <script src="/script.js"></script>

  </body>
</html>